.auth {
    padding: 10px 20px;
    width: 250px;
    margin: auto auto;
    box-shadow: 2px 2px 2px 2px #333;
}

.auth input[type="email"], .auth input[type="password"] {
    width: 100%;
    margin-bottom: 5px;
    color: #220066;
    padding: 10px 2px;
    border: 0.5px solid #444;
}

.btn {
    padding: 10px;
}

.btn-login {
    border: 0.5px solid #000033;
    color: #006633;
    background-color: transparent;
}

.btn-register {
    background-color: #006633;
    border: 0px;
    color: white;
}

.btn-register:hover {
    border: 0.5px solid #000033;
    color: #006633;
    background-color: transparent;
}

.btn-login:hover {
    background-color: #006633;
    border: 0px;
    color: white;
}